<section>
  <h2>More new stuff</h2>

  <ul>
    <li>Deployments didn't have the well-worn path of Capistrano (yet)</li>
    <li>A lot of what we have common expectations around in Rails didn't yet exist</li>
  </ul>

  <aside class="notes">
  </aside>
</section>
