<section>
  <h2>Review culture gets stronger, earlier</h2>

  <ul>
    <li>Increased adoption of code review and pull requests vs. merge and pray</li>
    <li>Moved essential reviews from before production deployment to before QA deployment</li>
    <li>Moved reviews away from a single lead engineer to a team-based approach</li>
  </ul>

  <aside class="notes">
  </aside>
</section>
