<section>
  <h2>Refining processes</h2>

  <ul>
    <li>Teams transitioning from Scrum to Kanban and iterating on their own practices</li>
    <li>Balancing new business features with refactoring, technical stability</li>
  </ul>

  <aside class="notes">
  </aside>
</section>
