<section>
  <h4>But, this Rails application launches</h4>

  <img src="<%= image_path 'first-commit.jpg' %>" />

  <aside class="notes">
    <ul>
      <li>Here's the first commit we have in the history of the project</li>
      <li>There was a lot of work that went in to getting to this point</li>
      <li>The CHANGELOG shows Rails 0.11.1 from March 27, 2005 was in use</li>
    </ul>
  </aside>
</section>
