<section>
  <h2>Moving toward API-based core data</h2>

  <ul>
    <li>Move away from shared models in time</li>
    <li>Move away from shared migrations in time</li>
    <li>Use an API for new functionality where records are kept in the Phoenix DB</li>
  </ul>

  <aside class="notes">
  </aside>
</section>
