<section>
  <h2>Rails marching forward</h2>

  <ul>
    <li>Heroku founded</li>
    <li>GitHub founded </li>
    <li>Passenger is out</li>
    <li>Rails is riding high</li>
  </ul>

  <aside class="notes">
  </aside>
</section>
