<section>
  <h2>Getting going…</h2>

  <ul>
    <li>This got started at an Apple World Wide Developer Conference</li>
    <li>Dan and Damon, skipped most of the sessions to write this new Rails application</li>
    <li>Dan focused on the front-end application</li>
    <li>Damon was focused on back-end pieces</li>
  </ul>

  <aside class="notes">
  </aside>
</section>
