<section>
  <h2>Other milestones</h2>

  <ul>
    <li>Rails hits 1.0, Dec. 2005</li>
    <li>Rails 1.1 (RJS), March 26, 2006</li>
    <li>Rails 1.2 (REST!), Jan. 2007</li>
    <li>Rails 2.0, Dec. 2007</li>
    <li>Rails 2.3, March 2009</li>
  </ul>

  <aside class="notes">
  </aside>
</section>
