<section>
  <h2>Increasing automated test coverage</h2>

  <ul>
    <li>Adding missing automated test coverage around critical business functionality</li>
    <li>Developing a technical culture of keeping the build green</li>
    <li>Identifying and rectifying obstacles to keeping builds green (like coupling)</li>
    <li>Writing code to be easier to test</li>
    <li>Leading with test automation for new feature work</li>
  </ul>

  <aside class="notes">
  </aside>
</section>
