<section>
  <h2>Work continued, but upgrades did not</h2>

  <p>
    The lockstep upgrade requirement was lifted.
  </p>

  <p>
    But, as consensus was building for an upgrade, the company bought its primary competitor (Q1, 2014).
  </p>

  <aside class="notes">
  </aside>
</section>
