<section>
  <h2>One controller</h2>

  <img src="<%= image_path 'first-commit-library_controller.jpg' %>" />

  <aside class="notes">
    <ul>
      <li>This is still very recognizable as Ruby and as Rails code</li>
      <li>We can also see the ways we might start writing code now is different than back then</li>
    </ul>
  </aside>
</section>
