<section>
  <h2>Moving some applications to retirement</h2>

  <ul>
    <li>p2services retired for more up-to-date APIs</li>
    <li>Reporter and Uber Reporter being replaced by a new, more capable reporting application under development</li>
  </ul>

  <aside class="notes">
  </aside>
</section>
