<section>
  <h2>There was also a limitation</h2>

  <p>These, and other applications, would shift versions of Ruby and Rails in lockstep</p>

  <p>The idea, was to keep machines these apps were deployed to all the same.</p>

  <aside class="notes">
  </aside>
</section>
