<section>
  <h2>API v4 started</h2>

  <ul>
    <li>JSON as first-preference, XML supported for external APIs</li>
    <li>Return meaningful error messages</li>
    <li>Designed from experience with earlier versions and integrations</li>
  </ul>

  <aside class="notes">
  </aside>
</section>
