<section>
  <h2>A lot was brand new or unavailable</h2>

  <ul>
    <li>AJAX was new</li>
    <li>Prototype and jQuery didn't yet exist</li>
    <li>REST conventions were not yet part of Rails</li>
    <li>API pieces were still using XML-RPC</li>
  </ul>

  <aside class="notes">
  </aside>
</section>
