<section>
  <h2>UX refresh</h2>

  <p>We'll see an example later, but we should give these critical applications the benefit of guidance from UX professionals.</p>

  <aside class="notes">
  </aside>
</section>
