<section>
  <h2>The business was growing</h2>

  <p>…and starting to outgrow how the development organization worked</p>

  <ul>
    <li>Tension of building out features vs. interrupt-driven research </li>
    <li>Teams had supervisions, but work dictated directly by the business</li>
    <li>Developer interaction with direct manager was minimal</li>
  </ul>

  <aside class="notes">
  </aside>
</section>
