<section>
  <h2>Process + organizational changes</h2>

  <ul>
    <li>Starting to get out of the mindset of "ship it as soon as possible"</li>
    <li>Building things to be (more) testable</li>
    <li>Lifting some of the business pressure</li>
    <li>Agile practices introduced</li>
    <li>Product manager role brought on</li>
  </ul>

  <aside class="notes">
  </aside>
</section>
