<section>
  <h2>Meanwhile…</h2>

  <ul>
    <li>Rails hits 3.0 (Aug. 2010)</li>
    <li>Ruby hits 1.9.3 (Oct. 2011)</li>
    <li>Rails 3.2 (Jan. 2012)</li>
    <li>Ruby 2.0 (Feb. 2013)</li>
    <li>Rails 4.0 (June 2013)</li>
    <li>Rails 4.2 (Dec. 2014)</li>
  </ul>

  <aside class="notes">
  </aside>
</section>
