<section>
  <h2>New product and team</h2>

  <ul>
    <li>  As the ugprade project wound down in early 2016, a new product started taking shape.</li>
    <li>  It was not as strongly coupled to the existing database, instead using the API-layer where needed instead</li>
    <li>  Rails on the server-side, React on the client-side</li>
  </ul>

  <aside class="notes">
  </aside>
</section>
