<section>
  <h4>Act I: A framework appears</h4>

  <img src="<%= image_path 'rails-announcement.png' %>" />

  <aside class="notes">
    <ul>
      <li>Here, we have the first, or one of the first public releases of Rails.</li>
      <li>It's July 2004</li>
    </ul>
  </aside>
</section>
