<section>
  <h2>Teams also shifted</h2>

  <ul>
    <li>An API/Platform team had been started, had a changeover in personnel, then grew</li>
    <li>Additional were developers hired for Connect applications</li>
    <li>Role of product management grew</li>
  </ul>

  <aside class="notes">
  </aside>
</section>
