<section>
  <h2>Notable challenges</h2>

  <ul>
    <li>Addressing items deprecated from earlier versions of Rails getting to Rails 3.0</li>
    <li>Moving off of RJS templates to native JavaScript</li>
    <li>Transitioning fully to ERb</li>
    <li>Incorporating the Asset Pipeline</li>
    <li>Restructuring ActiveRecord queries</li>
  </ul>
  <aside class="notes">
  </aside>
</section>
