<section>
  <h2>More opportunistic refactoring</h2>

  <ul>
    <li>Lots of model/logic extractions</li>
    <li>A lot less controller code for new work</li>
    <li>Newer apps making use of service objects, use cases</li>
  </ul>

  <aside class="notes">
  </aside>
</section>
