<section>
  <h2>Absorbing CourseSmart</h2>

  <p>
  The teams had to spend roughly the next 18 months (2014 to mid 2015) to:
  </p>

  <ul>
    <li>Migrate users</li>
    <li>Merge functionality from CourseSmart into VST applications</li>
    <li>Begin work on a new, combined, storefront</li>
  </ul>

  <aside class="notes">
  </aside>
</section>
