<section>
  <h2>Fall 2015</h2>

  <ul>
    <li>Most of the work integrating CourseSmart was complete</li>
    <li>A plan was made to get the applications upgraded</li>
    <li>How? CTO made it clear that security was at issue</li>
    <li>Most support mechanisms for Ruby 1.8.7 and Rails 2.3 had ceased</li>
  </ul>

  <aside class="notes">
  </aside>
</section>
