<section>
  <h2>This Rails thing…</h2>

  <ul>
    <li>Dan Benjamin had been experimenting with Rails</li>
    <li>He liked it more than a PHP/Java combo </li>
    <li>So, Dan and Damon Clinksales started building</li>
  </ul>

  <aside class="notes">
  </aside>
</section>
