<section>
  <h2>Over at VitalSource Technologies…</h2>

  <ul>
    <li>Had a business process of building/assembling ebooks.</li>
    <li>There was Java in place doing the work now</li>
    <li>But, there was a desire to use a visual process</li>
  </ul>

  <aside class="notes">
  </aside>
</section>
