<section>
  <h2>Stay current</h2>

  <ul>
    <li>Teams can make their own best decisions on upgrading to new versions of Rails and Ruby</li>
    <li>Updates to Ruby 2.4 and Rails 5.0 pending</li>
  </ul>

  <aside class="notes">
  </aside>
</section>
