<section>
  <h2>And so, Rails and Ruby kept moving</h2>

  <p>And these now 5-10 year old applications were kept at Ruby 1.8.7 and Rails 2.3</p>

  <aside class="notes">
    <p>
    We missed out on:
    </p>

    <ul>
      <li>New functionality</li>
      <li>Improvements in ActiveRecord queries</li>
      <li>Performance improvements in Ruby</li>
      <li>More maturity in Rails and client-side development</li>
    </ul>
  </aside>
</section>
