<section>
  <h2>How the upgrade happened</h2>

  <ul>
    <li>Mostly parallel effort across each of the applications</li>
    <li>Stepwise through Rails 3.0, 3.1, 3.2, 4.0, 4.1, 4.2</li>
    <li>Similarly stepwise through Ruby</li>
  </ul>

  <aside class="notes">
  </aside>
</section>
