<section>
  <h4>Interviews and Research Assistance</h4>

  <ul>
    <li>Willie Abrams</li>
    <li>Chris Amidon</li>
    <li>Dan Benjamin</li>
    <li>Kendall Bridges</li>
    <li>William Chesser</li>
    <li>Damon Clinksales</li>
    <li>Rick Johnson</li>
    <li>Manton Reece</li>
    <li>Ryan Schwartz</li>
    <li>Tommy Lee Stokes</li>
    <li>Erin Szarpa</li>
  </ul>

  <aside class="notes">
  </aside>
</section>
