<section>
  <h2>Nathan L. Walls</h2>

  <ul>
    <li><strong>Twitter</strong>: @base10</li>
    <li><strong>Site</strong>: wallscorp.us</li>
    <li><strong>Slides (soon)</strong>: wallscorp.us/presentations</li>
  </ul>

  <aside class="notes">
  </aside>
</section>
