<section>
  <h2>Software</h2>

  <ul>
    <li>Rails 5.0</li>
    <li>Ruby 2.4</li>
    <li>High Voltage</li>
    <li>Reveal.js</li>
    <li>Chartkick</li>
  </ul>

  <aside class="notes">
  </aside>
</section>
