<section>
  <h2>Lessons available</h2>

  <p></p>

  <aside class="notes">
    <p>
      I saw something not long ago, but can't find the source now, that you aren't really guaranteed to have a lesson learned.
    </p>

    <p>
      Accordingly, there were lessons _available_, with the implication that it was on you to do the learning, actively.
    </p>
  </aside>
</section>
