<section>
  <h2>Lessons available</h2>

  <p>There's joy to be found in writing Rails vs. other software development</p>

  <aside class="notes">
    <ul>
      <li>Even 12 years later, writing Rails code is fun.</li>
      <li>For Dan starting the project, Rails was preferable to a hybrid PHP and Java solution</li>
      <li>For Erin Szarpa, working with Rails was the first moment she enjoyed software development</li>
    </ul>
  </aside>
</section>
