<section>
  <h2>Lessons available</h2>

  <p>Waiting so long to upgrade was somewhat painful</p>

  <aside class="notes">
    <ul>
      <li>There was a lot we were able to learn from others about the upgrade</li>
      <li>For some things, it was hard to scope research to 2008/2009 in order to determine how to address issues</li>
      <li>We let ourselves get into a situation where we would not be able to address vulnerabilities with Ruby or Rails, at least as easily</li>
    </ul>
  </aside>
</section>
