<section>
  <h2>Lessons available</h2>

  <p>Shared migrations and models have not served us particularly well.</p>

  <aside class="notes">
    <ul>
      <li>There is a single source of authority</li>
      <li>The coordination of migrations, schema files and git submodles across projects is is not pleasant.</li>
    </ul>
  </aside>
</section>
