<section>
  <h2>Lessons Available</h2>

  <p>There's a mix of astonishment at how long this has lasted…</p>

  <p>…and some sense that it has more potential to fulfill.</p>
  <aside class="notes">
  </aside>
</section>
