<section>
  <h2>Lessons available</h2>

  <p>For these particular applications, Rails generally serves us very well</p>

  <aside class="notes">
    <p>
      By and large, for the work we do, Rails is a great fit, and has been for the past 12 years.
    </p>
  </aside>
</section>
