<section>
  <h2>Lessons available</h2>

  <p>
    Expect that your prior colleagues did the best work they could, given their knowledge, understanding and circumstances.
  </p>

  <aside class="notes">
    <ul>
      <li>Everyone learns as a project goes on</li>
      <li>Best practices evolve</li>
      <li>New perspectives will likely come in and add distinctiveness</li>
    </ul>
  </aside>
</section>
