<section>
  <h2>Lessons Available</h2>

  <p>The business took a risk</p>

  <ul>
    <li>Rails wasn't at 1.0</li>
    <li>There was a lot of trust to build a business critical application in something very new</li>
  </ul>

  <aside class="notes">
  </aside>
</section>
