<section>
  <h2>Lessons available</h2>

  <p>The overall consistency and stability of these applications have been a surprise.</p>

  <aside class="notes">
    <p>
      Some of that's going to be based on the fact that, as an internally-facing tool, there was less impetus for it to be refreshed visually.
    </p>
  </aside>
</section>
