<section>
  <h2>Lessons available</h2>

  <ul>
    <li>Make API errors clear and descriptive</li>
    <li>Don't use 200 for everything</li>
  </ul>

  <aside class="notes">
    <ul>
      <li>Provide documentation, if you're using API specific error codes and provide a link</li>
      <li>Use an appropriate HTTP status</li>
      <li>Write descriptive errors</li>
    </ul>
  </aside>
</section>
