<section>
  <h2>Lessons available</h2>

  <ul>
    <li>Hitting MVP was critical because the business was overworked and needed more automation and better tooling</li>
    <li>Switching from internal access to allowing customers into the tool was a big shift that, years later, we are still reacting to</li>
    <li>Waiting so long to upgrade was somewhat painful, stalling innovation</li>
  </ul>

  <aside class="notes">
    <ul>
      <li>There was a lot we were able to learn from others about the upgrade</li>
      <li>For some things, it was hard to scope research to 2008/2009 in order to determine how to address issues</li>
      <li>We let ourselves get into a situation where we would not be able to address vulnerabilities with Ruby or Rails, at least as easily</li>
    </ul>
  </aside>
</section>
