<section>
  <h2>Lessons available</h2>

  <ul>
    <li>Shared migrations and models have not served us particularly well</li>
    <li>How the apps are coupled together at the database layer and with shared code vs. a true API has slowed progress</li>
  </ul>

  <aside class="notes">
    <ul>
      <li>There is a single source of authority</li>
      <li>The coordination of migrations, schema files and git submodles across projects is is not pleasant.</li>
    </ul>
  </aside>
</section>
