<section>
  <h2>Lessons available</h2>

  <p>
    If we had understood the scale we'd be at, we'd have modeled some data differently and structured the application differently.
  </p>

  <aside class="notes">
    <ul>
      <li>This sounds obvious, but I think it's something that teams can get wrong in two ways</li>
      <li>You plan for too much scale</li>
      <li>You plan for too little scale</li>
    </ul>
  </aside>
</section>
