<section>
  <h2>Lessons available</h2>

  <p>There is more we can, and should do to refactor business logic </p>

  <aside class="notes">
    <ul>
      <li>We want to make it possible for the business to ask for changes</li>
      <li>We want more maintainable code</li>
    </ul>
  </aside>
</section>
