<section>
  <h2>Upgrading to non-Ruby-flavored JavaScript</h2>

  <p>
  I'm working on upgrading a substantial amount of JavaScript as part of this Rails upgrade.
  </p>

  <p>
  And I come across some early, early code.
  </p>

  <p>I run <code>git blame…</code>

  <aside class="notes">
  </aside>
</section>
