<section>
  <h4>… and discussion</h4>

  <img src="<%= image_path 'twitter-1.jpeg' %>" />

  <aside class="notes">
    <p>I get a response!</p>

    <p>He was a bit astonished!</p>
  </aside>
</section>
