<section>
  <h2>What we're going to touch on</h2>

  <ul>
    <li>Changes in how developers and the business interact</li>
    <li>Team changes</li>
    <li>Reflections and some available lessons</li>
  </ul>

  <aside class="notes">
  </aside>
</section>
