<section>
  <h2>Quotes</h2>

  <p>
    "In the absence of logic, there's history"
  </p>

  <p>&nbsp;</p>

  <p>
    "It seemed like a good idea at the time"
  </p>


  <aside class="notes">
    <ul>
      <li>Both of this speak to impressions people have of long-running projects</li>
      <li>But. this set of code is long running because it has been successful for the business.</li>
    </ul>
  </aside>
</section>
