<section>
  <h2>A Prologue</h2>

  <aside class="notes">
  <ul>
    <li>VitalSource Technologies does a number of things around ebook publishing</li>
    <li>We allow publishers to build ebooks, set prices and availability, etc</li>
  </ul>
  </aside>
</section>
