<section>
  <h2>What we're going to touch on</h2>

  <ul>
    <li>How the team has grown and changed</li>
    <li>How the code has grown</li>
    <li>How the code has changed</li>
  </ul>

  <aside class="notes">
  </aside>
</section>
