<section>
  <h2>Upgrading JavaScript</h2>

  <ul>
    <li>Prototype was going away in favor of jQuery</li>
    <li>We had a lot of <code>link_to_remote</code> and <code>link_to_remote_js</code> calls</li>
    <li>In some places, what we had wasn't really JavaScript (Hi, RJS!)</li>
  </ul>

  <aside class="notes">
  </aside>
</section>
