<section>
  <h2>I got curious about history</h2>

  <ul>
    <li>Looked at mix of code across several of our connected codebases</li>
    <li>Interviewed members of the development team, past and present</li>
    <li>Interviewed some members of the business team</li>
  </ul>

  <aside class="notes">
    <p>That's why we're here this afternoon</p>
  </aside>
</section>
