<section>
  <h2>Exploring the History of a 12-year-old Rails Application</h2>

  <p>Nathan L. Walls</p>
  <p>RailsConf 2017 &mdash; Phoenix, AZ</p>

  <aside class="notes">
    <p>
      Good afternoon. I'm Nathan, a software developer at VitalSource Technologies.
    </p>

    <p>
      Today, I'll be talking about the history of a suite of our applications, organized around a common core, dating back to the very early days of Rails.
    </p>

    <p>
      Let's do a little bit of stage setting
    </p>
  </aside>
</section>
