<section>
  <h4>A small sliver of our story</h4>

  <p>
    <%= line_chart commits_charts_path %>
  </p>

  <aside class="notes">
    <p>
      This chart is a rolled-up aggregation of seven different repositories, from August 2006 to this past week, showing the number of commits per week.
    </p>

    <p>
      This represents a substantial, but incomplete view of what one segment of my company has done.
    </p>
  </aside>
</section>
