<section>
  <h2>Exploring the History of a 12-year-old Rails Application</h2>

  <p>Nathan L. Walls</p>
  <p>RailsConf 2017 &mdash; Phoenix, AZ</p>

  <aside class="notes">
    This should only appear in speaker notes
  </aside>
</section>
