<section>
  <h2>…Well, a sliver at some distance</h2>

  <p>
    <%= line_chart commits_charts_path %>
  </p>

  <aside class="notes">
    <p>
      Overall, you can see a general trend of more commits on average over time.
    </p>

    <p>
      Commits are just that, commits in either Subversion or, later Git, which is where this data is extracted from.
    </p>

    <p>
      We begin by starting near that spike on the right side of the line chart.
    <p>
  </aside>
</section>
