<section>
  <h4>Another code frequency graph</h4>

  <img src="<%= image_path 'p2-adds-deletes-small.jpg' %>" />

  <aside class="notes">
    <p>The front-end Phoenix application</p>
  </aside>
</section>
