<section>
  <h4>GitHub's history for individual files</h4>

  <img src="<%= image_path 'lib-controller-history-small.png' %>" />

  <aside class="notes">
    <p>One of the controllers in our application</p>

    <p>Go into any tree, pick a file, pick history</p>
  </aside>
</section>
