<section>
  <h2>Project release history</h2>

  <ul>
    <li>Rails</li>
    <li>Your gems and other external dependencies</li>
    <li>Your own project release history</li>
  </ul>

  <aside class="notes">
  </aside>
</section>
