<section>
  <h2>GitHub's history for individual files</h2>

  <img src="<%= image_path 'lib-controller-history.png' %>" />

  <aside class="notes">
    <p>One of the controllers in our application</p>

    <p>Go into any tree, pick a file, pick history</p>
  </aside>
</section>
