<section>
  <h2>Talking</h2>

  <ul>
    <li>If something seems strange or interesting, ask about it</li>
    <li>Ask with kindness</li>
    <li>Be understanding about evolving knowledge</li>
    <li>Be understanding about past business and technical circumstances</li>
  </ul>

  <aside class="notes">
    <p>
    In prepping for this, I asked a lot of open-ended, neutral questions, one piece of feedback I got was:
    </p>

    <ul>
      <li>We all learn as we go and get better with time, so don't judge me as a bad developer based on code I wrote 6+ years ago.</li>
      <li>If code doesn't look as clean or isn't as well tested as it could be, there's circumstantial context about why</li>
    </ul>
  </aside>
</section>
