<section>
  <h2>Git itself</h2>

  <p>
  Git itself can act as a time machine, so if you're really interested, you can get a past version of your app up and running.
  </p>

  <aside class="notes">
    <ul>
      <li>We have virtual machines</li>
      <li>Docker containers</li>
      <li>We have the ability to resurrect old versions of code in isolation and go back to points in time.</li>
    </ul>
  </aside>
</section>
