<section>
  <h2>GitHub's code frequency graphs</h2>

  <img src="<%= image_path 'phoenix-adds-deletes.jpeg' %>" />

  <aside class="notes">
    <ul>
      <li>We can look at these spikes to identify where to ask questions</li>
      <li>Small spikes around 1/16</li>
      <li>Much larger spikes around 1/09</li>
    </ul>
  </aside>
</section>
