<section>
  <h2>git log</h2>

  <ul>
    <li>An incredibly rich tool for exploration with filtering</li>
    <li>A great way to export commit data for further analysis and visualization</li>
  </ul>

  <aside class="notes">
  </aside>
</section>
