<section>
  <h2>Talking</h2>

  <p>
  Finding out who was involved in your application over time, past and present.
  </p>

  <ul>
    <li>Developers</li>
    <li>QA</li>
    <li>Business owners</li>
  </ul>

  <aside class="notes">
    <ul>
      <li>This won't always be available</li>
      <li>You may not have access to all participants</li>
      <li>But, where you do, it's very, very helpful</li>
    </ul>
  </aside>
</section>
