<section>
  <h2>Tools and methods to dig further into history</h2>

  <p>
    Identifying where it's interesting to look, and following an available path.
  </p>

  <aside class="notes">
    <ul>
      <li>I've talked about and around a partial history</li>
      <li>Based on some technical tools</li>
      <li>Let's look at some of those briefly</li>
    </ul>
  </aside>
</section>
