<section>
  <h2>Code Climate churn/complexity</h2>

  <img src="<%= image_path 'phoenix-churn.jpeg' %>" />

  <aside class="notes">
    <ul>
      <li>Code Climate has grading on a file-by-file basis</li>
      <li>Something else that it gives you is a churn/complexity graph</li>
      <li>Your files end-up on graph of overall complexity and how often it changes</li>
      <li>You can point to a file and see what it is to look at further</li>
    </ul>
  </aside>
</section>
