<div class="reveal">
  <div class="slides">
    <%= render partial: 'pages/slide1' %>
    <%= render partial: 'pages/slide2' %>
    <%= render partial: 'pages/slide3' %>

    <%= render partial: 'pages/end_credits' %>
  </div>
</div>
