<div class="reveal">
  <div class="slides">

    <% (1..3).each do |index| %>
      <%= render partial: "pages/slide#{index}" %>
    <% end %>

    <% (0..9).each do |index| %>
      <%= render partial: "pages/prologue_0#{index}" %>
    <% end %>

    <%= render partial: 'pages/end_credits' %>
  </div>
</div>
